<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
<!--     <include resource="org/springframework/boot/logging/logback/base.xml"/> -->

<!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
   <appender name="ConsoleAppender"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS a} %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/management_system_admin_api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/management_system_admin_api.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <Pattern>%date{"yyyy-MM-dd HH:mm:ss", Asia/Tokyo} %-5level %logger - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="RootFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/management_system_admin_program.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %date{"yyyy-MM-dd HH:mm:ss", Asia/Tokyo} %-5level %logger - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="jp.co.gzr_internal.api" level="DEBUG" additivity="false">
        <appender-ref ref="FileAppender" />
<appender-ref ref="ConsoleAppender" /> 
    </logger>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false" >
        <appender-ref ref="FileAppender" />
          <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false" >
        <appender-ref ref="FileAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="RootFileAppender" />
          <appender-ref ref="ConsoleAppender" />
    </root>

    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.management.remote" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="DEBUG"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>
    <logger name="org.ehcache" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.hibernate.validator" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="sun.rmi.transport" level="WARN"/>
    <logger name="com.amazonaws" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

</configuration>
